body {

  font-family: system-ui, sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(18,18,18,1) 100%);
  color: white;
}

/* Container */
/* .container {
  justify-content: center;
  height: 100vh;
  margin: auto;
} */



/* Slider */

.container .slick-prev:before,.container .slick-next:before {
  color: white;
  font-size: 5vh;
  /* background-image: url("/src/assets/arrow-right.png"); */
}
.container .slick-dots {
  bottom: -10px;
}
.container .slick-dots  button::before {
  color: white;
}
.container .slick-dots li.slick-active button:before {
  color: white;
}
.container .slick-slide div {
  margin: auto;
  text-align: center;

}


/* Card */
.devtools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
}


.card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin: auto;
}




/* About */

.hero {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 10% 0%;
  text-align: center;
  padding-top: 120px;

}

.line1 {
  font-weight: 700;
}
.typewriter {
  max-width: max-content;
  overflow: hidden;
  border-right: 5px solid rgb(0, 119, 255); 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  visibility: hidden;
  animation: 
    typing 2.5s steps(40, end) forwards,
    blink-caret 1.5s step-start ;


}

@keyframes typing {
  0% { width: 0; opacity: 0; visibility: visible; }
  1% { opacity: 1; }
  99%,100% { width: 100%; opacity: 1; visibility: visible; border: none; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0, 119, 255); }
}

.line2 {
  animation-delay: 1s
}

.line3 {
  animation-delay: 2.1s
}
.line4 {
  animation-delay: 3.5s
}




/* Navbar */
.light-container {
  padding: 15% 15%;
  max-width: 100%;
  background-color: white;
  color: black;

}

.pgscont {
  /* padding-top: 10%; */


}