body {

  font-family: system-ui, sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(18,18,18,1) 100%);
  color: white;
}

/* Container */
.container {
  justify-content: center;
  height: 100vh;
  margin: auto;
}



/* Slider */

.container .slick-prev:before,.container .slick-next:before {
  color: white;
}
.container .slick-dots {
  bottom: -40px;
}
.container .slick-dots  button::before {
  color: white;
}
.container .slick-dots li.slick-active button:before {
  color: white;
}

/* Card */
.devtools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: auto;
}
.devtools .card-body {
  
}



/* About */

.hero {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 15% 0%;

}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.typewriter {
  max-width: fit-content;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(0, 119, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .9s step-start infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


/* Navbar */
.light-container {
  padding: 15% 15%;
  max-width: 100%;
  background-color: white;
  color: black;

}